</section>
</div>
</article>
</main>
</div>
</div>
</div>
</div>
<footer id="colophon" class="site-footer clb__dark_section">
<div class="page-container">
<div class="widgets vc_row">
<div class="vc_col-md-3 vc_col-sm-6 widgets-column">
<ul>
<li id="ohio_widget_logo-2" class="widget widget_ohio_widget_logo">
<div class="branding">
  <div class="logo ">
    <a class="-unlink" href="/">
      <img src="/assets/img/logo/logo-v.png" class="light-scheme-logo svg-logo" alt="Ohio Stage Demo 23">
      <img src="/assets/img/logo/logo-v.png" class="dark-scheme-logo svg-logo" alt="Ohio Stage Demo 23">
    </a>
  </div>
</div>
</li>
<li id="block-7" class="widget widget_block">
<strong>
  <a target="_blank" href="https://www.facebook.com/">Fb.</a>&nbsp;/&nbsp;&nbsp; <a target="_blank" href="https://www.facebook.com/">Li.</a>
</strong>
</li>
</ul>
</div>
<div class="vc_col-md-3 vc_col-sm-6 widgets-column">
<ul>
<li id="block-8" class="widget widget_block">
<h3 class="title widget-title">Dane firmy</h3>
<b>UNEEDEV Sp. z o. o.</b>
<br />
<b>NIP:</b> 1132944193
<br />
<b>REGON:</b> 367545548
<br />
<b>KRS:</b> 0000682255
</li>
</ul>
</div>
<div class="vc_col-md-3 vc_col-sm-6 widgets-column">
<ul>
<li id="block-10" class="widget widget_block">
<h3 class="title widget-title">Zapytania ofertowe</h3> Napisz na<br class="vc_hidden-xs">
<b>
  <a href="mailto:biuro@uneedev.pl">biuro@uneedev.pl</a>
</b><br/>Lub zadzwoń<br class="vc_hidden-xs">
<b>
  <a href="mailto:biuro@uneedev.pl">biuro@uneedev.pl</a>
</b>
</li>
</ul>
</div>
<div class="vc_col-md-3 vc_col-sm-6 widgets-column">
<ul>
<li id="ohio_widget_subscribe-2" class="widget widget_ohio_widget_subscribe">
<h3 class="title widget-title">Zapisz się do newslettera</h3>
<div class="subscribe-widget contact-form">
  <div class="wpcf7 no-js" id="wpcf7-f5-o1" lang="pl" dir="ltr">
    <div class="screen-reader-response">
      <p role="status" aria-live="polite" aria-atomic="true"></p>
      <ul></ul>
    </div>
    <form action="#" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
      <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="5" />
        <input type="hidden" name="_wpcf7_version" value="5.7.2" />
        <input type="hidden" name="_wpcf7_locale" value="en_US" />
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1" />
        <input type="hidden" name="_wpcf7_container_post" value="0" />
        <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
      </div>
      <div class="subscribe-form">
        <p>
          <span class="wpcf7-form-control-wrap" data-name="your-email">
            <input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Adres e-mail" value="" type="email" name="your-email" />
          </span>
          <br />
          <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Zapisz się" />
          <br />
          <span class="wpcf7-form-control-wrap" data-name="checkbox-101">
            <span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
              <span class="wpcf7-list-item first last">
                <label>
                  <input type="checkbox" name="checkbox-101[]" value="I’m okay with getting emails and having that activity tracked to improve my experience." tabindex="" />
                  <span class="wpcf7-list-item-label">Wyrażam zgodę na otrzymywanie powiadomień</span>
                </label>
              </span>
            </span>
          </span>
        </p>
      </div>
      <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
  </div>
  <div class="hidden" data-button-contact="true">
    <button class="button -flat -reset-color" data-button-loading="true"></button>
  </div>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="site-footer-copyright">
<div class="page-container">
<div class="vc_row">
<div class="vc_col-md-12">
<div class="holder">
<div class="-left"> © 2023. Wszelkie prawa zastrzeżone 
</div>
<div class="-right">
  <a href="/polityka/">Polityka prywatności</a> | <a href="/regulamin/">Regulamin</a>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>

<script type='text/javascript' src='/assets/js/0fc3dc2460e410571286e43d043f4ffd.js' id='wphb-3-js'></script>
<script type='text/javascript' src='/assets/js/f0a83816c48137250b0a035a304b194b.js' id='wphb-4-js'></script>
<script type='text/javascript' src='/assets/js/2dcc5ab4415089ef3f176723cc72cc40.js' id='wphb-5-js'></script>
<script type='text/javascript' id='ohio-main-js-extra'>
var ohioVariables = {
"subscribe_popup_enable": "1",
"subscribe_popup_type": "time",
"subscribe_popup_var": "5",
"notification_enable": "1",
"notification_expires": "360",
"save_color_mode_state": ""
};
</script>
<script type='text/javascript' src='/assets/js/main.min.js' id='ohio-main-js'></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>